body {
    margin: 0;
}

main {
    margin: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    background: #475ee4;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__title {
    margin-right: auto;
    font-weight: 600;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 20px 24px;
    font-weight: 400;
    cursor: pointer;
    vertical-align: middle;
}